// root

#root{
  font-family: 'Raleway', sans-serif;
}

// App

.captionMain {
  text-align: center;
  font-size: 50pt;
  font-family: 'Raleway', sans-serif;
}

// field
.infoShips, .field {
  display: inline-flex;
}
