// App

.captionMain{
  text-align: center;
  font-size: 300%;
  font-family: 'Raleway', sans-serif;
}

// Button

.commonButton, .connectInput {
  cursor: pointer;
  padding: 3%;
  color: black;
  font-size: 130%;
  margin-bottom: 5%;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: lighter;
  a{
    text-decoration: none !important;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: lighter;
  }
}

// Page

.page{
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  width: 30%;
  height: 15%;
}

// input

.connectInput{
  background-color: #afafaf;
}

// field

.gameField{
  display: flex !important;
  flex-flow: column;
  border: black 2px;
  height: 350px;
}

.fieldLine{
    background-color: crimson;
}