.fieldCell {
  text-align: center;
  font-size: larger;
  width: 2.5vw;
  height: 5vh;
  padding: 0;
  margin: 0;
}

.pinkBackground{
  background-color: pink;
}

.border {
  border: 0.1px solid black;
}

.borderInvisible {
  border: 0.1px solid white;
}

.hit{
  background-image: url('../../../sourse/image/hit.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: pink;
}

.missed{
  background-image: url('../../../sourse/image/missed.png');
  background-repeat: no-repeat;
  background-position: center;
}