.infoShips {
  display: block;
  margin-left: 10%;
  .captionShip {
    display: flex;
    padding: 5%;
  }
  .ship {
    display: flex;
    padding: 5%;
    width: 150%;
    p {
      font-size: larger;
      margin: 2%;
    }
  }
  .pinkBackground {
    background-color: pink;
  }
}