.GameField {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  .GameField-Caption {
    text-align: center;
  }

  .GameField-User {
    margin-left: 10%;
    align-items: center;
  }

  .GameField-Enemy {
    margin-left: 10%;
    align-items: center;
  }
}