.fields{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:flex-start;
  align-items:stretch;

  .captionField{
    text-align: center;
  }

  .fieldUser{
    margin-left: 10%;
  }

  .fieldEnemy{
    margin-left: 10%;
  }

}

.fieldNotActive{
  opacity: 0.3;
  border: 3px solid red;
}

.gameIsOver{
  opacity: 0.5;
}