.connectCaption{
  width: 100%;
  margin-left: 3%;
  margin-bottom: 3%;
  margin-top: 3%;
  text-decoration: none !important;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 2em;
  color: black;
  text-align: center;
}
.closeButton{
  cursor: pointer;
  margin-left: 93%;
  color: black;
  background-color: bisque;
  font-size: 130%;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: lighter;
}

.enterButton{
  cursor: pointer;
  color: black;
  background-color: bisque;
  margin-left: 3%;
  width: 100%;
  height: 7vh;
  font-size: 1.5em;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: lighter;
  a{
    text-decoration: none;
    color: black;
  }
}

.connectInput{
  height: 5vh;
  width: 96%;
  margin-left: 3%;
  margin-bottom: 5%;
}