// Button

.Button {
  cursor: pointer;
  color: black;
  background-color: white;
  font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: lighter;
  border: 1px solid black;
  height: 35pt;
}
