.ShipSelection {
  display: block;
  margin-right: 20%;
  .ShipSelection-Caption {
    display: flex;
  }
  .ShipSelection-Ship {
    display: flex;
    width: 110%;
    padding: 5%;
    p {
      font-size: larger;
      margin: 2%;
    }
  }
  .ShipSelection-Ship_pinkBackground {
    background-color: pink;
  }
}